@import "tailwindcss";

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", ui-sans-serif, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
